<div class="jumbotron">
    <h1 class="display-3 text-dark">Welcome!</h1>
    <p class="lead text-dark">Books In Space! Your complete library for storing and managing your books!.</p>
    <hr class="my-4 text-light">
    <p class="text-dark">Create your account and share away!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/register" role="button">Learn more</a>
    </p>
</div>

<blockquote class="blockquote">
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>