<div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">Books In Space! Your complete library for storing and managing your books!.</p>
    <hr class="my-4">
    <p>Create your account and share away!.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

<blockquote class="blockquote">
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>