<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books In Space!</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

</head>

<body>

    <div class="container">

        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/img/space.png" width="60" height="60" class="d-inline-block align-top" alt="">
                <h3 class="d-print-inline-block">Books In Space!</h3>
            </a>
            <form action="/login">
                <div class="form-group d-sm-inline-flex p-2">
                    <div class="col-xs-2">
                        <!-- <label for="exampleInputEmail1">Login</label> -->
                        <input type="email" class="form-control input-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="">
                    </div>
                    <div>
                        <!-- <label for="exampleInputPassword1">Password</label> -->
                        <input type="password" class="form-control input-sm" id="exampleInputPassword1" placeholder="Password" style="">
                        <button type="button" class="btn btn-primary">Primary</button>
                    </div>

                </div>

            </form>
        </nav>