<div class="login-container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <h5>Sign in Socially</h5>

            <a href="/github" METHOD="get" class="fb social-btn btn"><i class="fa fa-github fa-fw"></i> Login with Github</a>
            <!--<a href="#" class="twitter social-btn btn"><i class="fa fa-twitter fa-fw"></i> Login with Twitter</a>
            <a href="#" class="google social-btn btn"><i class="fa fa-google fa-fw"></i> Login with Gmail</a>
            -->

        </div>
        <!-- <div class="col-2"></div>
        <div class="col-4">
            <h5>Sign in manually</h5>
            <form action="/login" method="POST">
                <input class="form-control input-sm" type="Email" name="Email" placeholder="Email" required>
                <input class="form-control input-sm" type="password" name="password" placeholder="Password" required>
                <input class="btn btn-primary" type="submit" value="Login">
        </div>
        <div class="col-1"></div> -->
    </div>

    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <a href="#" style="color:white" class="btn">Sign up</a>
            </div>
            <div class="col">
                <a href="#" style="color:white" class="btn">Forgot password?</a>
            </div>
        </div>
    </div>
</div>