<!-- TOP BRAND AND LOGIN BAR -->

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/img/space.png" width="60" height="60" class="d-inline-block align-top" alt="">
            <h3 class="d-print-inline-block">Books In Space!</h3>
        </a>
        <form action="/userprofile" class="form-inline">
            <div class="form-group  mb-2">
                <label for="staticEmail2" class="sr-only">Email</label>
                <input type="text" class="form-control" id="staticEmail2" value="email@example.com">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Login</button>
        </form>
    </nav>

    <!-- MAIN NAVIGATION -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userprofile">My Books</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/book-search" method="GET">
                <input class=" form-control mr-sm-2" type="search" placeholder="Search for a book..." aria-label="Search" name="booktitle" required>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>