<h1>This is my searchbar!</h1>

<form action="/book_title/" method="post">
    <label for="book_title">Enter book title: </label>
    <input id="book_title" type="text" name="name_field" value="Search for a book...">
    <input type="submit" value="OK">
</form>