<div class="user-container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://www.drumsinspace.com/images/john-in-space.png" class="card-img-top" alt="john space">
                <div class="card-body">
                    <h5 class="card-title">John Nutter</h5>
                    <p class="card-text"><strong>Bio:</strong> full stack developer fueled on coffee. Currently using MERN stacks, but I have an affinity for Python/Django and REST APIs. Also a fan of synthesizers and fm synthesis.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: hello@jnutterdev.com</li>
                    <li class="list-group-item">Books read: 25</li>
                    <li class="list-group-item">Age: 40</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <!-- BOOKS READ -->

        <div class="card" style="width: 9rem;">
            <img src="/img/cosmos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    <h3>Cosmos</h3>
                    <li>Author: Carl Sagan</li>
                    <p>Cosmos traces the origins of knowledge and the scientific method, mixing science and philosophy, and speculates to the future of science. </p>
                </p>
            </div>
        </div>

        <div class="card" style="width: 9rem;">
            <img src="/img/cosmos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    <h3>Cosmos</h3>
                    <li>Author: Carl Sagan</li>
                    <p>Cosmos traces the origins of knowledge and the scientific method, mixing science and philosophy, and speculates to the future of science. </p>
                </p>
            </div>
        </div>

        <div class="card" style="width: 9rem;">
            <img src="/img/cosmos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    <h3>Cosmos</h3>
                    <li>Author: Carl Sagan</li>
                    <p>Cosmos traces the origins of knowledge and the scientific method, mixing science and philosophy, and speculates to the future of science. </p>
                </p>
            </div>
        </div>

    </div>
</div>