<div class="user-container">
    <div class="row">


        <div class="col">

            <div class="card" style="width: 18rem;">
                <img src="https://www.drumsinspace.com/images/john-in-space.png" class="card-img-top" alt="john space">
                <div class="card-body">
                    <h5 class="card-title">John Nutter</h5>
                    <p class="card-text"><strong>Bio:</strong> full stack developer fueled on coffee. Currently using MERN stacks, but I have an affinity for Python/Django and REST APIs. Also a fan of synthesizers and fm synthesis.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: hello@jnutterdev.com</li>
                    <li class="list-group-item">Books read: 25</li>
                    <li class="list-group-item">Age: 40</li>
                </ul>
            </div>
        </div>
        <!-- BOOKS READ -->

        <div class="card-group card-spacing">

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>
        </div>

    </div>
</div>