<div class="user-container">
    <div class="row">


        <div class="col">

            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="john space">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= name %>
                    </h5>
                    <p class="card-text"><strong>Bio:</strong> Click <a href="#">here</a> to add a bio.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Email: </strong>
                        <%= email  %>
                    </li>
                    <li class="list-group-item"><strong>Books read: </strong> 42</li>
                    <li class="list-group-item"><strong>Birthday: </strong> 05/01</li>
                </ul>
            </div>
        </div>
        <!-- BOOKS READ -->

        <div class="card-group card-spacing">

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>

            <div class="card">
                <div class="card-layouts">
                    <img src="img/cosmos.jpg" alt="Cosmos">
                </div>
            </div>
        </div>

    </div>
</div>